<div *ngIf="pokemonDetails" class="Card" (click)="openDialog(pokemonDetails)">
    <div class="Image">
         <img [src]="pokemonDetails.sprites?.front_default" width="100%"> 
    </div>
    <div class="PokemonID">
        {{rearrangeId(pokemonDetails.id)}}
    </div>
    <div class="Pokemon-Name">
        {{pokemon?.name}}
    </div>
    <div class="Status">
        <ng-container *ngIf="pokemonDetails?.types">
            <span *ngFor="let type of pokemonDetails.types" [ngClass]="type.type.name" class="pokemon-card">
              {{ type.type.name }}
            </span>
        </ng-container>
    </div>
</div>