.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 1.3fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Title Title Title"
      "ID ID ID"
      "Type Image Main-Info"
      ". Image Secondary-Info";
    background-image: url(https://sg.portal-pokemon.com/play/resources/pokedex/img/random_center_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    background-color: black;
}

.Title { 
    grid-area: Title; 
    place-self: center;
}   

.ID { 
    place-self: center;
    grid-area: ID; 
}

.Type { 
    place-self: center;
    grid-area: Type; 
}

.Main-Info { 
    place-self: center;
    grid-area: Main-Info; 
}

.Image { 
    place-self: center;
    grid-area: Image; 
}

.Secondary-Info { 
    grid-area: Secondary-Info; 
    place-self: center;
}

.Image, .ID, .Main-Info, .Secondary-Info, .Title, .Type{
}

.pokemon-card {
    width: 100px;
    position: relative;
    border-radius: 1em;
    margin: 0.5em 0.25em;
    text-align: center;
}

.grass {
    border-color: #b4f000;
    background-color: #92bf19;
    -webkit-box-shadow: 0 0 0.25em 0.03em #92bf19;
    box-shadow: 0 0 0.25em 0.03em #92bf19;
}

.poison {
    border-color: #d28cd2;
    background-color: #be78be;
    box-shadow: 0 0 0.25em 0.03em #be78be;
}

.fire {
    border-color: #ff6900;
    background-color: #ff3700;
    box-shadow: 0 0 0.25em 0.03em #ff3700;
}

.flying {
    border-color: #78dcff;
    background-color: #79bcd7;
    box-shadow: 0 0 0.25em 0.03em #79bcd7;
}

.water {
    border-color: #14b9ff;
    background-color: #0094e5;
    box-shadow: 0 0 0.25em 0.03em #0094e5;
}

.dragon {
    border-color: #5078dc;
    background-color: #3c64c8;
    box-shadow: 0 0 0.25em 0.03em #3c64c8;
}

.bug {
    border-color: #46c846;
    background-color: #32b432;
    box-shadow: 0 0 0.25em 0.03em #32b432;
}

.normal {
    border-color: #dcdcdc;
    background-color: #a0a0a0;
    box-shadow: 0 0 0.25em 0.03em #a0a0a0;
}

.dark {
    border-color: #787878;
    background-color: #646464;
    box-shadow: 0 0 0.25em 0.03em #646464;
}

.electric {
    border-color: #ffe100;
    background-color: #e4b700;
    box-shadow: 0 0 0.25em 0.03em #e4b700;
}

.psychic {
    border-color: #f08cdc;
    background-color: #dc78c8;
    box-shadow: 0 0 0.25em 0.03em #dc78c8;
}

.ice {
    border-color: #14f5ff;
    background-color: #00b7ee;
    box-shadow: 0 0 0.25em 0.03em #00b7ee;
}

.steel {
    border-color: #aac8f0;
    background-color: #96b4dc;
    box-shadow: 0 0 0.25em 0.03em #96b4dc;
}

.ground {
    border-color: #fac85a;
    background-color: #cca142;
    box-shadow: 0 0 0.25em 0.03em #cca142;
}

.fairy {
    border-color: #ffafdc;
    background-color: #ff7eb8;
    box-shadow: 0 0 0.25em 0.03em #ff7eb8;
}

.fighting {
    border-color: #dc6900;
    background-color: #c85500;
    box-shadow: 0 0 0.25em 0.03em #c85500;
}

.rock {
    border-color: #b48c64;
    background-color: #a07850;
    box-shadow: 0 0 0.25em 0.03em #a07850;
}

.ghost {
    border-color: #a08cff;
    background-color: #8c78f0;
    box-shadow: 0 0 0.25em 0.03em #8c78f0;
}

.normal-card {
    border-color: grey;
    background-color: grey;
    box-shadow: 0 0 0.25em 0.03em grey;
}

.main-title {
    font-weight: bold;
    color:orangered;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}